:root{
    --body-bg: #111111;
    --checkbox-bg: #444444;
    --black-white: #ffffff;
    --shadow-box-scrol: #111111;
    --trybe-bg: #0c5a26;
    --trybe-border: #021d0b;
}

.light-mode:root{
    --body-bg: #F9FAFB;
    --checkbox-bg: #D8D8D8;
    --black-white: #000000;
    --shadow-box-scrol: #f5f5f5;
    --trybe-bg: #beffd4;
    --trybe-border: #63a778;
}

html{
    scroll-behavior: smooth;
}

body *{
    color: var(--black-white);
    font-family: 'Reem Kufi Ink', Arial, Helvetica, sans-serif;
    transition-delay: linear;
    stroke: var(--black-white); /* SVG COLOR */
} 


body{
    background-color: var(--body-bg);
    width: 1000px;
    margin: auto;
    min-width: auto;
    position: relative;
    transition-duration: .3s;
}

header{
    width: 1100px;
    height: 150px;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 50px;
    margin: 0 auto;
    transition-duration: .3s;
    z-index: 1000;
}

header.page-down{
    height: 11%;
    background: var(--body-bg);
    box-shadow: 1px 1px 6px var(--shadow-box-scrol);
}

header .nav-bar{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav-bar .checkbox-light-mode{
    display: none;
}

header .nav-bar label{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 37px;
    height: 37px;
    background-color: var(--checkbox-bg);
    border-radius: 7px;
    cursor: pointer;
    transition-duration: .2s;
}

header .nav-bar .nav-bar-list{
    display: flex;
    width: 1000px;
    justify-content: flex-start;
    gap: 13%;
    font-size: 14px;
}

header .nav-bar .nav-bar-list li a{
    padding: 20px 0;
    opacity: .6;
}

main{
    text-align: center;
    padding-top: 135px
}

main .profile{
    text-align: start;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 80px 70px 110px;
    grid-template-areas:
    "h1 img"
    "h2 img"
    "p p";
}

main .profile h1{
    grid-area: h1;
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    opacity: .95;
}

main .profile h2{
    grid-area: h2;
    font-size: 20px;
    opacity: .80;
}

main .profile p{
    grid-area: p;
    margin-top: 40px;
    width: 50%;
    text-align: justify;
    font-size: 14px;
    opacity: .6;
}

main .profile img{
    filter: grayscale(1);
    border-radius: 50%;
    grid-area: img;
    width: 200px;
    transition-duration: .3s;
    border: 2px solid var(--black-white);
}

main .social-button{
    display: flex;
    gap: 30px;
}

main .social-button button{
    width: 220px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    font-size: 21px;

    border-radius: 7px;
    border: double 3px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;

    transition: transform .3s;
}

main .social-button #linkedin-button{
    background-image: linear-gradient(var(--body-bg),var(--body-bg)),
    linear-gradient(30deg, #0eb1d6 30%, #f5777f 80%);
}

main .social-button #github-button{
    background-image: linear-gradient(var(--body-bg), var(--body-bg)),
    linear-gradient(320deg, #76f0bf 20%, #cb9dff 60%);
}

main .swipe-down{
    padding-top: 120px;
    padding-bottom: 50px;
    opacity: 50%;
    font-size: 12px;
}

main .swipe-down #arrowDown{
    animation-name: upToDown;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
}

main .about-me{
    padding: 30px 0;
    text-align: center;
}

main .about-me h2{
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    display: inline;
    font-size: 176px;
    opacity: 0.95;
    text-transform: uppercase;
}

main .about-me h2::after{
    width: 97%;
    background-image: linear-gradient(90deg, #7bffb0 17%,#ffd571 40%,  #f7797d);
}

main .about-me p{
    margin-left: 10px;
    width: 50%;
    font-size: 17px;
    text-align: justify;
}

main .projects{
    padding: 40px 0;
    text-align: center;
}

main .projects h2{
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    display: inline;
    font-size: 195px;
    opacity: 0.95;
    text-transform: uppercase;
}

main .projects h2::after{
    width: 97%;
    background-image: linear-gradient(90deg,#930DFD, #FF6666 ,  #19fff0);
}

main .projects p{
    text-transform: uppercase;
    font-size: 12px;
}

main .about-me h2::after, main .projects h2::after, main .skills h2::after{
    content: '';
    right: 0;
    left: 0;
    bottom: 12%;
    margin: 0 auto;
    position: absolute;
    display: block;
    height: 7px;
}

main .projects ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

main .projects ul li{
    width: 210px;
    height: 290px;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    position: relative;
}

main .projects ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}


main .projects ul li a img{
    width: 150%;
    height: 150%;
    filter: blur(20px) grayscale(20%);
    z-index: 2;
}

main .projects ul li a .project-details{
    position: absolute;
    bottom: 0;
    margin: auto;
    z-index: 3;
    width: 100%;
    height: 30%;
    background-color: var(--checkbox-bg);
    text-align: start;
    padding: 0 10px;
    padding-top: 5px;
} 


main .projects ul li a .project-details h3{
    font-size: 16px;
}

main .projects ul li a .project-details p{
    font-size: 13px;
    text-transform: lowercase;
    margin-bottom: 8px;
}

main .projects ul li a .project-details span{
    background-color: var(--body-bg);
    opacity: .5;
    padding: 0 10px;
    border-radius: 50px;
    margin-right: 2px;
    font-size: 13px;
}

main .skills{
    padding: 70px 0;
    text-align: start;
}

main .skills h2{
    position: relative;
    width: auto;
    height: auto;
    display: inline;
    font-size: 150px;
    opacity: 0.95;
    text-transform: uppercase;
}

main .skills h2::after{
    width: 98%;
    background-image: linear-gradient(90deg,#F5EE9E 20%, #349df3 40%, #ff61b0 100%);
}

main .skills .container-skills{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    margin-top: 70px;
    opacity: .93;
}

main .skills .container-skills ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

main .skills .container-skills ul p{
    width: 100%;
    grid-area: p;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 30px;
    opacity: .3;
}

main .skills .container-skills ul::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black-white);
}

main .skills ul li{
    position: relative;
}

main .skills ul li span{
    position: absolute;
    top: -10px;
    left: -100px;
    right: -100px;
    margin: 0 auto;
    text-align: center;
    display: none;
    font-size: 12px;
    text-transform: uppercase;
}

main .skills .container-skills ul li svg{
    fill: var(--black-white);
    width: 40px;
    height: 40px;
    transition-duration: .3s;
    position: relative;
    margin-top: 10px;
}

main .skills .container-skills ul li .responsive, main .skills .container-skills ul li .autocad{
    stroke-width: .01px;
}

footer{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

footer h2, body footer a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-bottom: 13px;
}

/* ############# MOBILE ############# */
.nav-bar-list-menu-icon{
    display: none;
}

.nav-bar-list-menu{
    display: none;
}

.open{
    display: block;
}

#x-icon{
    display: none;
}

/* ############# TRYBE  ############# */
.trybe{
    background-color: var(--trybe-bg);
    padding: 0 5px;
    border: 1px solid var(--trybe-border);
    border-radius: 20px;
}

/* ############# ALL HOVER  ############# */
/* LIGHT MODE BUTTON E IMG DO PERFIL */

main  .social-button a button:hover{
    transform: scale(1.02);
}

main .projects ul li:hover{
    transform: translateY(-3px) scale(1.01);
}

main .skills ul li:hover span{
    display: block;
}

main .skills ul li svg:hover{
    transform: translateY(-2px);
}

/* KEY FRAMES ANIMATIONS */

@keyframes upToDown{
    0%, 100%{ 
        transform: translateY(-2px); 
    }
    50%{ 
        transform: translateY(2px); 
    }
}

/* ############# MEDIA QUERY ############# */


@media (max-width: 1100px){

    body{
        width: 90%;
    }

    header{
        width: 100%;
    }

    main .profile img{
        width: 170px;
    }

    main .profile .names h1{
        font-size: 57px;
    }

    main .about-me h2{
        font-size: 140px;
    }

    main .projects h2{
        font-size: 150px;
    }

    main .skills h2{
        font-size: 120px;
    }

}

@media (max-width: 899px){
    body{
        width: 90%;
    }

    header{
        width: 100%;
    }

    header .nav-bar .nav-bar-list{
        font-size: 14px;
    }

    main .profile .names h1{
        font-size: 47px;
    }
    
    main .profile .names h2{
        font-size: 20px;
    }

    main .profile img{
        width: 155px;
    }

    main .social-button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 90px 0;
    }

    main .swipe-down{
        padding-top: 50px;
    }

    main .about-me h2{
        font-size: 116px;
    }

    main .projects h2{
        font-size: 120px;
    }

    main .skills h2{
        font-size: 100px;
    }

    body footer h2, body footer a{
        font-size: 12px;
    }


}

@media (max-width: 749px){

    body{
        width: 80%;
    }

    header{
        width: 100%;
        height: 120px;
        padding: 0 10%;
    }

    header .nav-bar{
        justify-content: start;
        width: 100%;
    }
    
    .header .nav-bar-list-menu{
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header .nav-bar-list-menu ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: -6.8%;
        right: -14%;
        background-color: var(--body-bg);
        height: 100vh;
        transition-duration: .3;
    }

    header .nav-bar-list-menu ul li{
        padding-top: 50px;
        padding-left: 6%;
        padding-right: 6%;
        opacity: .95;
        font-size: 13px;
    }

    header .nav-bar-list-menu ul li::after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 10px;
        opacity: .10;
        background-color: var(--black-white);
    }

    header .nav-bar .nav-bar-list{
        display: none;
    }

    header .nav-bar-list-menu-icon{
        display: block;
        cursor: pointer;
        padding: 13px;
        padding-left: 0;
    }

    header.page-down{
        height: 8%;
        background: var(--body-bg);
        box-shadow: 1px 1px 6px var(--shadow-box-scrol);
    }

    
    main{
        display: flex;
        padding-top: 90px;
        flex-wrap: wrap;
        justify-content: start;
        gap: 0;
    }

    main .profile{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    main .profile .names h1{
        font-size: 28px;
    }

    main .profile .names h2{
        font-size: 15px;
        opacity: .8;
    }

    main .profile .names p{
        font-size: 12px;
    }

    main .profile img{
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        border: none;
    }

    main .social-button{
        width: 100%;
        height: 50px;
        gap: 5%;
    }

    main .social-button button{
        width: 140px;
        height: 50px;
        font-size: 13px;
        gap: 10%;
        border: double 2px transparent;
    }

    main .social-button button svg{
        width: 20px;
    }

    main .swipe-down{
        padding-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    main .swipe-down a svg{
        margin-top: 10px;
        width: 12px;
    }

    main .about-me p{
        margin-left: 0;
        font-size: 13px;
        width: 100%;
    }

    main .about-me h2{
        font-size: 53px;
    }

    main .about-me h2::after, main .projects h2::after, main .skills h2::after{
        height: 6px;
        bottom: 6%;
    }

    main .about-me p{
        margin-top: 20px;
    }

    main .projects h2{
        font-size:57px;
    }

    main .projects ul li{
        width: 270px;
        height: 140px;
    }

    main .projects ul li a .project-details{
        height: 35%;
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "h3 techs"
        "p techs";
        justify-items: flex-start;
        align-items: flex-start;
        padding: 0 5px;
    }

    main .projects ul li a .project-details .techs{
        grid-area: techs;
        display: flex;
    }

    main .projects ul li a .project-details .techs h3{
        grid-area: h3;
        font-size: 14px;
    }

    main .projects ul li a .project-details .techs p{
        grid-area: p;
        font-size: 11px;
    }

    main .projects ul li a .project-details .techs span{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5px;
        grid-area: span;
        font-size: 12px;
        padding: 2px 6px;
    }

    main .skills{
        padding: 40px 0;
        text-align: center;
    }

    main .skills h2{
        font-size: 45px;
        margin-bottom: 30px;
    }

    main .skills h2::after{
        bottom: -2px;
    }

    main .skills .container-skills{
        row-gap: 40px;
        flex-wrap: wrap;
        margin-top: 60px;
        justify-content: center;
    }

    main .skills .container-skills ul{
        width: 65%;
    }

    main .skills .container-skills ul p{
        font-size: 12px;
    }

    main .skills .container-skills ul li span{
        font-size: 10px;
    }


    main .skills .container-skills ul li svg{
        width: 35px;
        height: 35px;
    }

    body footer{
        height: auto;
        margin-top: 90px;
        text-align: center;
    }

    body footer h2, body footer a{
        font-size: 11px;
    }

}